language: php
sudo: false

php: [7.0, 5.6, 5.5]

matrix:
  fast_finish: true

addons:
  hosts:
    - example.com
    - one.example.com
    - two.example.com
    - three.example.com
    - four.example.com
    - five.example.com

cache:
  directories:
    - $HOME/.composer/cache/files

env:
  - DRUPAL=8.1.x
  - DRUPAL=8.2.x

mysql:
  database: domain
  username: root
  encoding: utf8

notifications:
  email: false

before_install:
  # Add composer's global bin directory to the path
  # see: https://github.com/drush-ops/drush#install---composer
  - export PATH="$HOME/.composer/vendor/bin:$PATH"

  # Remove Xdebug. Not an issue for PHP 7.
  - phpenv config-rm xdebug.ini || true

  - composer self-update

install:
  # Install Drush.
  - composer global require drush/drush:8.*
  - phpenv rehash

before_script:
  - mysql -e 'create database domain'
  - mysql -e "SET GLOBAL wait_timeout = 36000;"
  - mysql -e "SET GLOBAL max_allowed_packet = 134209536;"

  # Remember the current rules test directory for later use in the Drupal installation.
  - TESTDIR=$(pwd)
  # Navigate out of module directory to prevent blown stack by recursive module lookup.
  - cd ..

  # Download Drupal 8 core.
  - travis_retry drush dl drupal-$DRUPAL --drupal-project-rename=drupal
  - cd drupal

  # Make the module appear in the correct place
  - ln -s $TESTDIR modules/domain

  # Install drupal default profile
  - /usr/bin/env PHP_OPTIONS="-d sendmail_path=$(which true)" drush --yes --verbose site-install minimal --db-url=mysql://root:@127.0.0.1/domain
  - drush --yes en simpletest domain domain_access domain_alias domain_config domain_source
  - drush cr

  # Start a web server on port 8080 in the background.
  - nohup php -S 0.0.0.0:8080 > /dev/null 2>&1 &

  # Wait until the web server is responding.
  - until curl -s example.com:8080; do true; done > /dev/null

script:
  - php core/scripts/run-tests.sh --verbose --color --concurrency 4 --php `which php` --url http://example.com:8080 domain
  - php core/scripts/run-tests.sh --verbose --color --concurrency 4 --php `which php` --url http://example.com:8080 domain_access
  - php core/scripts/run-tests.sh --verbose --color --concurrency 4 --php `which php` --url http://example.com:8080 domain_alias
  - php core/scripts/run-tests.sh --verbose --color --concurrency 4 --php `which php` --url http://example.com:8080 domain_config
  - php core/scripts/run-tests.sh --verbose --color --concurrency 4 --php `which php` --url http://example.com:8080 domain_source
